.Meaning {
  margin-bottom: 2.5rem;

  &__heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &::after {
      content: ' ';
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--ruler-color);
      margin-top: 0.75rem;
      flex-grow: 1;
    }
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: 700;
    font-style: italic;

    @include screen-md {
      margin-bottom: 2.5rem;
    }
  }

  h3 {
    @include heading-text('sm');
    color: var(--text-color-med-grey);
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
    
    li {
      font-size: 0.9375rem;
      line-height: 1.5rem;
      margin-bottom: 0.75rem;

      @include screen-md {
        font-size: 1.125rem;
      }

      &::before {
        content: '\2022';
        color: $purple-100;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 700;
        width: 1rem;
        margin-left: -1rem;
      }

      & > p {
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        margin-top: 1rem;
        color: var(--text-color-med-grey);

        &::before {
          content: '\201C';
        }

        &::after {
          content: '\201D';
        }
      }
    }
  }

}
