
input[type="search"] {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border: 0;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 1.5rem;

  @include screen-md {
    font-size: 1.25rem;
    padding: 1.25rem 1.5rem;
  }

  &.error {
    border: 1px solid var(--error-color);
  }

  &::placeholder {
    opacity: 0.25;
  }

  &:focus {
    outline: 1px solid $purple-100;
    border: 0;
  }
}

input + p {
  margin-top: 0.5rem;
  font-size: 1rem;

  &.error {
    color: var(--error-color);
  }
}
