:root {
  --body-bg-color: #{$white};
  --text-color-primary: #{$grey-500};
  --text-color-secondary: #{$grey-300};
  --font: #{$font-sans-serif};

  --input-bg-color: #{$grey-100};
  --input-text-color: #{$grey-500};
  --error-color: #{$red};

  --ruler-color: #{$grey-200};
}

body[data-theme='dark'] {
  --body-bg-color: #{$black};
  --text-color-primary: #{$white};
  --text-color-secondary: #{$grey-300};

  --input-bg-color: #{$grey-600};
  --input-text-color: #{$white};

  --ruler-color: #{$grey-400};
}

body[data-font='serif'] {
  --font: #{$font-serif};
}

body[data-font='mono'] {
  --font: #{$font-mono};
}

