// Colors
$black: #050505;
$grey-100: #F4F4F4;
$grey-200: #E9E9E9;
$grey-300: #757575;
$grey-400: #3A3A3A;
$grey-500: #2D2D2D;
$grey-600: #1F1F1F;
$white: #fff;
$purple-100: #A445ED;
$red: #FF5252;

// Fonts
$font-sans-serif: Inter, Helvetica, Arial, sans-serif;
$font-serif: Lora, Georgia, "Times New Romain", serif;
$font-mono: Inconsolata, monospace;


